{% layout "base" %} {% block content %}
<div class="grid grid-cols-15 h-screen">
    <div class="bg-gray-300 col-span-15 flex self-end justify-between">
        <div>{{ title }}</div>
        <div class="flex justify-end gap-4">
            <div><a href="/page1">page1</a></div>
            <div>page2</div>
            <div>page3</div>
        </div>
    </div>
    <div class="col-span-15 row-span-2">&nbsp;</div>
    <div class="row-span-11">&nbsp;</div>
    <div class="bg-gray-200 col-span-13 row-span-11 flex flex-col self-start items-start">
    {% block page-content %}{% endblock %}
    </div>
    <div class="row-span-11">&nbsp;</div>
    <div class="col-span-15">footer</div>
</div>
<script>
  document.addEventListener('alpine:init', () =>{
    Alpine.data('myfun', () => ({
        data: "hello",
        some: {
            ['x-text']() {
                return this.data
              },
    },
}))
  })
</script>
{% endblock %}
