{% layout "base" %} {% block content %}
<div class="grid grid-cols-15 h-screen">
    <div class="bg-gray-200 col-span-15 flex self-end justify-between">
        <div class="flex justify-start gap-4 ml-4">
          <div><strong>{{ title }}</strong></div>
        </div>
    </div>
    <div class="col-span-15 row-span-2"><div>&nbsp;</div></div>
    <div class="row-span-11"><div>&nbsp;</div></div>
    <div class="col-span-13 row-span-11">
      <div class="flex flex-col">
        <h1 x-data="{ message: 'Hello2' }" x-text="message"></h1>
          <a href="page1">page1</a>
          <a href="hello">hello</a>
          <a href="page2">page2</a>
      </div>
    </div>
    <div class="row-span-11"><div>&nbsp;</div></div>
    <div class="col-span-15"><div>&nbsp;</div></div>
</div>
{% endblock %}
