@import "windi.css";
@import "katex.css";
@import "prism-gruvbox-light.css";

* {
  margin: 0;
}

.math-display {
  margin-top: 0.5rem;
}

p {
  margin-top: 0.5rem;
}

.katex-display {
  margin: 0;
  margin-top: 0.5rem;
}

.end {
  display: none;
}
