.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}
.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.grid {
  display: -ms-grid;
  display: grid;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.h-screen {
  height: 100vh;
}
.ml-4 {
  margin-left: 1rem;
}
.gap-4 {
  grid-gap: 1rem;
  gap: 1rem;
}
.grid-cols-15 {
  grid-template-columns: repeat(15, minmax(0, 1fr));
}
.col-span-15 {
  -ms-grid-column-span: span 15 / span 15;
  grid-column: span 15 / span 15;
}
.col-span-13 {
  -ms-grid-column-span: span 13 / span 13;
  grid-column: span 13 / span 13;
}
.row-span-2 {
  -ms-grid-row-span: span 2 / span 2;
  grid-row: span 2 / span 2;
}
.row-span-11 {
  -ms-grid-row-span: span 11 / span 11;
  grid-row: span 11 / span 11;
}